<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="right_hand_transmission" params="joint_name">
    <transmission name="${joint_name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint_name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Thumb joints -->
  <xacro:right_hand_transmission joint_name="right_thumb_proximal_yaw_joint" />
  <xacro:right_hand_transmission joint_name="right_thumb_proximal_pitch_joint" />
  <xacro:right_hand_transmission joint_name="right_thumb_intermediate_joint" />
  <xacro:right_hand_transmission joint_name="right_thumb_distal_joint" />

  <!-- Index finger joints -->
  <xacro:right_hand_transmission joint_name="right_index_proximal_joint" />
  <xacro:right_hand_transmission joint_name="right_index_intermediate_joint" />

  <!-- Middle finger joints -->
  <xacro:right_hand_transmission joint_name="right_middle_proximal_joint" />
  <xacro:right_hand_transmission joint_name="right_middle_intermediate_joint" />

  <!-- Ring finger joints -->
  <xacro:right_hand_transmission joint_name="right_ring_proximal_joint" />
  <xacro:right_hand_transmission joint_name="right_ring_intermediate_joint" />

  <!-- Pinky finger joints -->
  <xacro:right_hand_transmission joint_name="right_pinky_proximal_joint" />
  <xacro:right_hand_transmission joint_name="right_pinky_intermediate_joint" />
</robot>